body {
    background: #2c3e50;
    color: #2d77a7;
}

header {
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;   
}

.titleHeader {
    padding: 10px;
    background: #bcc3c8; 
}

.boxPhotoHeader {
    padding: 20px;
    background: #bcc3c8;
    min-height: 100%;
    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxPhotoHeader img {
    width: 180px;
    height: auto; 
    display: block; 
}


.pageTitle {
    padding: 10px;
    background: #bcc3c8;  
    min-width: 270px;
    width: min-content;
}
