
:root {
  --main-background: #2c3e50;
  --secondary-background: #bcc3c8;
  --text-color: #2d77a7;
}

body {
  background-color: var(--main-background);
  color: var(--text-color);
    display: flex;
    flex-direction: column;
}



header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;   
    border: groove 4px var(--text-color);
    background: var(--text-color);
    padding: 10px;

}

.containerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.boxTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titleHeader {

    padding: 5px;
    background: var(--secondary-background); 
}

.boxPhotoHeader {
    padding: 10px;
    background: var(--secondary-background); 
    min-height: 100%;
    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxPhotoHeader img {
    width: 175px;
    height: auto; 
    display: block; 
}


/*  */


.navHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--secondary-background); 
  padding: 1px 3px;
}

.navHeader a {
    color: var(--text-color);
    padding: 7px;
}

.navHeader a:hover {
    background: var(--main-background);
}

.navHeader a:active {
    color: yellow;
}


#form-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;   
    border: solid black 1px;
    padding: 10px;
    width:  250px;
    background: var(--main-background);

}

.form-group-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}

.form-group-1 label {
    background: var(--secondary-background); 
    width: min-content;
    padding: 2px 3px 1px;
    border-radius: 2px;
    font-weight: 700;
}

.searchingInput {
    border-radius: 5px;
    padding: 2px;
    width: 200px;
}

.searchingInput::placeholder {
    color: var(--text-color);
    opacity: 0.7;
    font-weight: 550;
}

.searchingInput:focus {
    color: var(--text-color);
    font-weight: 550;
}

.btn-1 {
    color: var(--text-color);
    font-weight: 700;
    font-family: coursive;
    cursor: pointer;
}

/* main */

.mainIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
}

.asideIndex {
    background: var(--text-color);
    width: 220px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.asideIndex h3 {
    background: var(--secondary-background);
    display: inline;
    width: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listAside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    color: var(--secondary-background);
    background: var(--main-background);
    width: min-content;
    padding: 20px 35px; 
    margin: 0;
    margin-left: 20px;
    
}

.liAside a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    white-space: nowrap;
}

.liAside:hover, .liAside a:hover {
 color: var(--secondary-background);
 opacity: 0.9;
}

.bodyIndex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    border: solid;
    width: 100%;
    min-height: 100vh;
    box-sizing: box-border;
    padding-bottom: 100px;
}

.pageTitle {
    display: flex;
    position: relative;
    justify-self: flex-start;  
    padding: 10px;
    background: var(--secondary-background); 
    min-width: 270px;
    width: min-content;

}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;

}

.bodyTitle {
    display: flex;
    justify-self: center;  
    padding: 10px;
    background: var(--secondary-background); 
}

.containerSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.bodyIndex section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border: solid;
    padding: 20px;
    background: var(--secondary-background); 

}

.contentLong {
    border: solid;
    padding: 20px;
    width: 750px;
    height: 200px;
    background: var(--main-background); 


}

.contentShort {
    border: solid;
    padding: 20px;
    width: 180px;
    background: var(--main-background); 

}






